@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&family=Lato:wght@400;700&display=swap');

h1 {font-family: 'Gayathri', sans-serif;
   font-weight: 700;
}
h2 {font-family: 'Gayathri', sans-serif;
   font-weight: 400;

}
h3 {font-family: 'Gayathri', sans-serif;
   font-weight: 400;

}

p {font-family: 'Lato', sans-serif;
   font-weight: 400;

}


ul {font-family: 'Lato', sans-serif;
   font-weight: 700;

}

li {font-family: 'Lato', sans-serif;
   font-weight: 700;

 }

a {font-family: 'Lato', sans-serif;
  font-weight: 400;}

.padding-hover:hover {
  background-color: #7BDB6E;
  color:white;
  text-decoration:underline;
}

.visited-gray:visited {
  color: LightGray;
}
