@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&family=Lato:wght@400;700&display=swap');

h1 {font-family: 'Gayathri', sans-serif;
   font-weight: 700;
}


h2 {font-family: 'Gayathri', sans-serif;
   font-weight: 400;

}
h3 {font-family: 'Gayathri', sans-serif;
   font-weight: 400;

}

p {font-family: 'Lato', sans-serif;
   font-weight: 400;

}


ul {font-family: 'Lato', sans-serif;
   font-weight: 700;

}

li {font-family: 'Lato', sans-serif;
   font-weight: 700;

 }


button {
  background-color:#4A7080;
  border: none;
  color:white;
  font-family: 'Gayathri', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1em 2em 1em 2em;
}

a {
  background-color: white;
  color:#000;
  display:block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding:2em;
  width:20%;
  text-decoration:none;
}

.padding-hover:hover {
  background-color: #3D7BCF;
  color:white;
  text-decoration:underline;
}

.visited-gray:visited {
  color: LightGray;
}

.container {
  background-image: url("https://images.unsplash.com/photo-1517423568366-8b83523034fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  height:700px;
  margin: 0 auto;
  width:50%;

}
