@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&family=Lato:wght@400;700&display=swap');

h1 {font-family: 'Gayathri', sans-serif;
   font-weight: 700;
}


h2 {font-family: 'Gayathri', sans-serif;
   font-weight: 400;

}
h3 {font-family: 'Gayathri', sans-serif;
   font-weight: 400;

}

p {font-family: 'Lato', sans-serif;
   font-weight: 400;

}


ul {font-family: 'Lato', sans-serif;
   font-weight: 700;

}

li {font-family: 'Lato', sans-serif;
   font-weight: 700;

 }


button {
  background-color:#4A7080;
  border: none;
  color:white;
  font-family: 'Gayathri', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1em 2em 1em 2em;
}

a {
  background-color: white;
  color:#000;
  display:block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding:2em;
  width:20%;
  text-decoration:none;
}

.padding-hover:hover {
  background-color: #3D7BCF;
  color:white;
  text-decoration:underline;
}

.visited-gray:visited {
  color: LightGray;
}

.container {
  background-image: url("https://raw.githubusercontent.com/tcolvin4/GRA-321/master/code-exercises/img/slide2.png");
  background-size: cover;
  height:700px;
  margin: 0 auto;
  width:50%;

}

/* project 5 */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;700&display=swap');
.grid-container {
  background-color: white;
  align-items: center;
  margin: auto;
  width: 700px;
  position: relative;
  height: 1000px;
}

.title {
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    top: 7.5%;
    left: 4.1%;
  }

  .subtitle {
    font-family: 'Overpass', sans-serif;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    top: 15%;
    left: 4.1%;
  }

  .paragraph {
    font-family: 'Overpass', sans-serif;
    font-size: 9px;
    font-weight: 200;
    position: absolute;
    bottom: 4.3%;
    left: 4.1%;
    line-height: 12px;

  }

  .paragraph2 {
    font-family: 'Overpass', sans-serif;
    font-size: 9px;
    font-weight: 200;
    position: absolute;
    bottom: 4.3%;
    left: 24.1%;
    line-height: 12px;

  }

  .page-number {
    font-family: 'Overpass', sans-serif;
    font-size: 9px;
    font-weight: 200;
    position: absolute;
    bottom: 2.3%;
    right: 4.2%;

  }

.img1 {
    position: absolute;
    top: 25%;
    left: 4.1%;
  }





body {
  background-color: #C1C1F0;
}


/*---Media Queries---*/
@media screen and (max-width: 1000px) {
  body {
    background-color: LightSalmon;
}
}

@media screen and (max-width: 500px) {
  body {
    background-color: MediumSeaGreen;
}
}
