@import 'https://fonts.googleapis.com/css?family=Open+Sans';

/* general */
body {
  font-family: 'Open Sans', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}


/* menu tabs */
.tabs {
  position: relative;
  min-height: 800px; /* SET HEIGHT */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

/* pricing columns */
html {
  font-size: 16px;
  box-sizing: border-box;
}


li, ul, p {
  margin: 0;
  padding: 0;
}


section {
  background-color:#white;
  width: 100%;
  margin: 0 auto;
  position: relative;
}


section h1, p, ul, li {
  color:#707070;
}

.iced-drinks, .hot-drinks, .intro {
  width:85%;
  margin: 0 auto;
  color:
}

 .menu-item-row {
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 0 0 1rem 0;
}

.menu-item-row p {
  width:30%;
}

.menu-item-row ul {
  width:60%;
  list-style-type: none;
  float: right;
  text-align:right;
}

.menu-item-row ul li {
  width:30%;
  display:inline-block;
}

/* Carousel */

/* New Slider CSS Begin */

.carousel {
    position: relative;
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
  height:500px;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

/* FOR CLASSES .IMAGE-1, .IMAGE-2, AND .IMAGE-3, REPLACE THE BACKGROUND IMAGE URL WITH YOUR IMAGE URL. THIS SLIDER MUST HAVE 3 IMAGES TO FUNCTION PROPERLY */

.image-1 {
background-image: url(https://lindseymariegomez.github.io/fall-2020/img/fall-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center center;
}

.image-2 {
background-image: url(https://lindseymariegomez.github.io/fall-2020/img/fall-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center center;
}

.image-3 {
background-image: url(https://lindseymariegomez.github.io/fall-2020/img/fall-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center center;
}

.carousel-item {
    position: absolute;
    opacity: 0;
  height:500px;
}



.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
bottom:2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

/* New Slider CSS End */
