@import 'https://fonts.googleapis.com/css?family=Open+Sans';

/* general */
body {
  font-family: 'Open Sans', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}


/* menu tabs */
.tabs {
  position: relative;
  min-height: 800px; /* SET HEIGHT */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

/* pricing columns */
html {
  font-size: 16px;
  box-sizing: border-box;
}


li, ul, p {
  margin: 0;
  padding: 0;
}


section {
  background-color:#white;
  width: 100%;
  margin: 0 auto;
  position: relative;
}


section h1, p, ul, li {
  color:#707070;
}

.iced-drinks, .hot-drinks, .intro {
  width:85%;
  margin: 0 auto;
  color:
}

 .menu-item-row {
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 0 0 1rem 0;
}

.menu-item-row p {
  width:30%;
}

.menu-item-row ul {
  width:60%;
  list-style-type: none;
  float: right;
  text-align:right;
}

.menu-item-row ul li {
  width:30%;
  display:inline-block;
}
